<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exam.sid.aplicacion">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Aqui se ubica el activity del Clase Main, el activity principal-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aqui se ubica el activity de la clase Registro-->
        
        <activity 
            android:name=".activities.Register"
            android:label="@string/Register"
            android:screenOrientation="portrait"></activity>

        <!-- Aqui se ubica el activity de la clase Task-->    
        <activity
            android:name=".activities.Task"
            android:label="@string/Task"
            android:screenOrientation="portrait"></activity>

        <!-- Aqui se ubica el activity de la clase Update-->  
        <activity
            android:name=".activities.Update"
            android:label="@string/Update"
            android:screenOrientation="portrait"></activity>

        <!-- Aqui se ubica el activity de la clase Block_task-->      
        <activity
            android:name=".activities.Block_task"
            android:label="@string/Block_task"
            android:screenOrientation="portrait"></activity>

        <!-- Aqui se ubica el activity de la clase Logout-->  
        <activity
            android:name=".activities.Logout"
            android:label="@string/Logout"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>